<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <title>banana sqare - crispy servers</title>
    <link rel="stylesheet" href="static/discord-servers.css" />
    <link rel="icon" type="image/png" href="static/banan_icon.png" />
</head>

<body>
    <div>
        <h1>discord servers I administer</h1>

        <div>
            <h3>Deutsche Haus</h3>
        </div>
        <div>
            <h3>graveyard</h3>
        </div>
    </div>
</body>


