<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>banana square</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="icon" type="image/png" href="static/banan_icon.png" />
</head>

<body>
    <div class="top">
        <div style="background-color: #9fa127; display: flex; flex-direction: column">
            <div class="box container" style="min-height: 85%">
                <article>
                    <h1>hi</h1>
                    <img src="static/banan.png" alt="my profile picture" class="banana-img non-pixelated" />
                    <p>
                        I'm an 18-year-old student from Germany, aspiring to become a
                        system administrator. I like tinkering around with my Linux systems
                        and write a little program here and there.
                    </p>
                    <p>
                        Currently I am graduating, about to have a lot of free time on my hands to tackle the dozens of
                        projects I've wanted to try out for years.
                    </p>
                </article>
                <div id="tamagotchi-container" style="position: relative; top: 15px; width: 60px; height: 54px;"></div>
                <script src="https://unicodeangel.neocities.org/scripts/tamaWebchiMimitchi.js"></script>
            </div>
            <div class="small-box container" style="min-height: 15%">
                cool people
                <br />
                <a href="https://crispy-caesus.eu"><img src="https://crispy-caesus.eu/static/crispybutton.png" /></a>
                <a href="https://erine.dev/" target="_blank" rel="noopener noreferrer">
                    <img src="https://chibisafe.crispy-caesus.eu/MEkVLB08qVlq.png" alt="erine-button" />
                </a>
                <br>
                other cool things
                <br>
                <iframe src="https://rinici.de/buttons/flappy" width="88" height="31"
                    sandbox="allow-scripts allow-popups" style="border:none"></iframe>
                <iframe src="https://rinici.de/buttons/sand" width="88" height="31" sandbox="allow-scripts allow-popups"
                    style="border:none"></iframe>
            </div>
        </div>
        <div class="box links">
            <h2>some links</h2>
            <ul>
                <li>
                    <a title="Github" href="https://github.com/crispy-caesus" target="_blank"
                        rel="noopener nofererrer">Github</a> - crispy-caesus
                    <p>
                        Contains most of my little projects, as well as my dotfiles for my
                        Linux configuration
                    </p>
                </li>

                <li>
                    <a title="Anilist" href="https://anilist.co/user/crispycaesus/" target="_blank"
                        rel="noopener nofererrer">Anilist</a> - crispycaesus
                    <p>
                        A list of the anime I have watched, plan to watch and some
                        ratings and thoughts on them
                    </p>
                </li>

                <li>
                    <a title="Discord" href="https://discord.com/users/621759962280099840" target="_blank"
                        rel="noopener nofererrer">
                        Discord
                    </a> - crispy.caesus
                    <p>
                        I don't love the platform but it's probably one of the best developed and has the largest
                        communities. I've also learned a bunch, setting up servers with their permissions and what not
                    </p>
                </li>

                <li>
                    <a title="Matrix" href="https://matrix.to/#/@crispy-caesus:matrix.org" target="_blank"
                        rel="noopener nofererrer">
                        Matrix
                    </a> - @crispy-caesus:matrix.org
                    <p>
                        Amazing decentralized platform with a lot of epic clients. It's what I prefer for my personal
                        communication
                    </p>
                </li>

                <li>
                    <a title="toothbrushing music" href="music">
                        toothbrushing music
                    </a>
                    <br />
                    <img src="static/toothrush.png" alt="toothbrush vibing" class="toothbrush-img non-pixelated" />
                    <p>
                        Over the past months I've created my little legally aquired library of DRM-free music. There are
                        a bunch of reasons why I prefer this way of aquiring music in this way, most of which boils down
                        to independence and artist support.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <footer>
            <div class="box footer">
                <div class="credits">
                    <br>
                    <p>art drawn by the amazing</p>
                    <a title="VanillaPunkk Instagram" href="https://www.instagram.com/vannillapunkk/" target="_blank"
                        rel="noopener nofererrer">VanillaPunkk</a>
                    <p> | </p>
                    <p>tamagotchi by</p>
                    <a title="unicodeangel" href="https://unicodeangel.neocities.org" target="_blank"
                        rel="noopener nofererrer">
                        Unicode Angel
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
