<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home</title>
	<link rel="stylesheet" href="static/index.css">
</head>

<body>
	<div class="container">
		<article>
			<h1>hi</h1>
			<b>this is still a work in progress</b>
			<p>I'm an 18-year-old student from Germany, aspiring to become a system administrator. I like
				tinkering
				around
				with my Linux and write a little program here and there.</p>
			<p>Currently I'm learning a bunch about server monitoring, as part of a school project</p>

			<h2>some links</h2>
			<ul>
				<li>
					<a title="github" href="https://github.com/crispy-caesus">github</a>
					<p>contains most of my little projects, as well as my dotfiles for my Linux
						configuration</p>
				</li>
				<li>
					<a title="anilist" href="https://anilist.co/user/crispycaesus/">anilist</a>
					<p>a list of the anime I have watched and plan to watch and some ratings and
						thoughts on
						them</p>
				</li>
				<li>
					<a title="stats.fm" href="https://stats.fm/caesus">stats.fm</a>
					<p>the music I listened to on Spotify (have since switched to Tidal)</p>
				</li>
			</ul>
		</article>

		<!-- Footer section -->

		<hr>

		<footer>
			<div class="contact-info">
				<span>Discord: crispy.caesus</span>
				<span>Matrix: @crispy-caesus:matrix.org</span>
			</div>
		</footer>
	</div>
</body>

</html>
